
*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
.logo img{
    float: left;
    width: 270px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

a:hover {
    font-size: 15pt;
    font-family: impact;
    color: black;
    background-color: white;
    }
    
    ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    min-height: 400px;
    margin-right: auto;
    font-size: 14pt;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}